body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    font-size: 14px;
}

a:link {
    text-decoration: none;
    color: darkslategrey;
}

a:visited {
    color: darkslategrey;
}

a:hover, a:active {
    color: darkslategrey;
    text-decoration: underline;
}

.description {
    background-color: lightsteelblue;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid darkslategrey;
}

img {
    max-width: 550px;
}

.count {
    font-weight: bold;
}

.factsWrapper {
    display: flex;
    max-width: 550px;
    margin-bottom: 20px;
}

.shortFacts {
    flex: 1;
}